#banner {
    height: 90vh;
    background: linear-gradient(to right, hsla(0, 2%, 17%, 0.856), rgba(44, 42, 42, 0.315)),url('forest2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn {
    padding: 15px 30px;
    font-weight: 900;
    border-radius: 60px;
    font-size: 18px;
    transition: all 0.4s ease;
    

}

.btn-brand {
    background-color: red;
    color: #FFF;
    border: 2px solid #FFF;
}

.btn-brand:hover {
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF;
}
section{
    padding: 100px 0;
}
#about h2{
    font-size:  55px;
    font-weight: 900;
    color:rgb(18, 191, 36) !important;
    -webkit-text-stroke-width:  2px;
    -webkit-text-stroke-color: black;

}

#about .btn-brand:hover{
    color: black !important;
    border-color: black !important;
}   

#about{     
    background-color: #8FBC8F;
}
.wawaw-wo{
    width: 40%;

}

#services .btn-brand:hover{
    color: rgb(24, 229, 208) !important;
    border-color: rgb(237, 218, 218) !important;
}



.card:hover{
background-color: #8B4513;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn{
    color: #FFF;
}

#services h2{
    font-size: 55px;
    font-weight: 900;
    color: rgb(18, 191, 36);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#services{
    background-color: #8FBC8F;
}

